body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


h1, h2  {
    font-weight: 800;
}
h1 {
    text-transform: uppercase;
}

@media only screen and (max-width: 380px) {
    h1 { font-size: 1.7rem }
    h3 { font-size: 1.3rem }
    h4 { font-size: 1.2rem }
  }




.btn {
    font-weight: 400;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.15rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr {
    border-top: 1px solid lighten(black, 70%);
}

.gradient {
    height: auto;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #c7c7c7 0%, #ffffff 83%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #c7c7c7 0%,#ffffff 83%,#ffffff 100%);
    background: linear-gradient(to bottom, #c7c7c7 0%,#ffffff 83%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#ffffff',GradientType=0 );
}

.lang_switch {
    padding-left: 10px;
    border-left: 2px solid $primary;
    .form-control {
        border: 0;
        font-size: 14px;
        padding: 0;
       
        :focus,.btn:active {
            outline: none !important;
            box-shadow: none;
        }
    }
}

.form-control:focus {

    outline: 0;
    
    box-shadow: none;
}


