body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    outline: none;
}


h1, h2, h3  {
    font-weight: 800;
}

h2 {
    font-size: 1.6rem;
    color: $primary;
}


.btn {
    font-weight: 400;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.15rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr {
    border-top: 1px solid $primary;
}

.gradient {
    height: 50vh;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #ffffff 83%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#ffffff 83%,#ffffff 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%,#ffffff 83%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 );
}

.lang_switch {
    padding-left: 10px;
    border-left: 1px solid $primary;
    .form-control {
        border: 0;
        font-size: 12px;
        padding: 0;
       
        :focus,.btn:active {
            outline: none !important;
            box-shadow: none;
        }
    }
}

.form-control:focus {

    outline: 0;
    
    box-shadow: none;
}
