#contact {

    ul {
        list-style-type: none;
        padding-left: 10px;
    }
}

textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#simpleContactSubmitButton {
    background: $primary;
    color: white;
}