header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header {
    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 2rem;
      span {
            font-weight: 800;
            font-size: 2rem;
      }
    }
  }
 
  header {
    .desc {
      opacity: 0;
    }
  .fade-left {
    opacity: 0;
  }  


  }
  @media (max-width: 767.98px) { 
    header {
      background: url('../images/Techno-mobile-header.jpg') black no-repeat center center;
      background-size: cover;
      background-position: top left;
      li {
        font-size: 1.1rem;
      }
    }
    header video {
      display: none;
    }
    .desc {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }  


  #uvod {
    h2 {
      color: $primary;
      font-size: 1.5rem;
    }
  }

  .career {
    li {
      margin: 1rem 0;
    }
  }

  .iconbox {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;

  img {
    padding: 1rem;
  }
}

.shortdesc {
  margin-top: -120px;
  position: relative;
}

.blue-iconbox {
  background: $primary;
  width: 150px;
  height: 150px;
  text-align: center;
  color: white;
  z-index: 1;
  position: absolute;
  margin-top: -40px;
  img {
    margin-top: 12px;
  }
}

.gradient h2 {
    font-size: 1.4rem;
    font-weight: 400;
}







//* GALLERY
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.img-hover-zoom {
  overflow: hidden;
  img {
    transition: transform .5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.back-to-top {
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
  
}




// DESKTOP


@media (min-width: 992px) { 
  
  .py-5 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  .iconbox {
    width: 176px;
  }

  header {
    h2 {
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 2.7rem;
      span {
        font-weight: 800;
        font-size: 2rem;
      }
    }
  }

  .blue-iconbox {
    background: $primary;
    width: 180px;
    height: 180px;
    text-align: center;
    padding-top: 20px;
    color: white;
    z-index: 1;
    position: relative;
    margin-top: -40px;
  }

}