[viewBag]

[contactForm]
==
<div class="container py-5" id="contact">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-uppercase">{{ 'KONTAKT' |_ }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 my-5">
            <img src="{{ 'assets/images/Techno-Vyskov-logo.svg' | theme }}" class="mb-3" alt="">
            <h3 class="text-primary">TECHNO Vyškov spol. s r. o.</h3>
            <ul>
                <li>Joklova 9</li>
                <li>682 01 Vyškov</li>
                <li>Czech Republic</li>
            </ul>
            <ul class="text-primary">
                <li>Tel.: +420 517 341 681</li>
                <li>Fax: +420 517 341 682</li>
                <li>Výroba: +420 602 568 307</li>
                <li>Nástrojárna: +420 721 269 930</li>
                <li>E-mail: info@techno-vyskov.cz</li>
            </ul>
            <ul>
                <li>IČO: 25 58 51 77</li>
                <li>DIČ: CZ 25 58 51 77</li>
            </ul>
        </div>
        <div class="col-md-6 my-5">
            {% component 'contactForm' %}
            <p>Vaše osobní údaje budou zpracovány dle pravidel o ochraně osobních údajů.</p>
        </div>
    </div>
</div>