<div class="row bg-white shadow">
    <div class="col text-center d-md-flex justify-content-around">
        <div class="iconbox">
            <img src="{{ 'assets/images/icon-tool-04.svg' | theme }}" alt="">
            <h5>{{ 'VSTŘIKOVÁNÍ PLASTOVÝCH VÝLISKŮ' |_ }}</h5>
        </div>
        <div class="iconbox">
            <img src="{{ 'assets/images/icon-tool-05.svg' | theme }}" alt="">
            <h5>{{ 'MONTÁŽ A KOMPLETACE' |_ }}</h5>
        </div>
        <div class="iconbox">
            <img src="{{ 'assets/images/icon-tool-06.svg' | theme }}" alt="">
            <h5>{{ 'POTISK VÝROBKŮ' |_ }}</h5>
        </div>
    </div>
</div>