[viewBag]
==
<section class="gradient">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ 'LISOVNA' |_ }}</h1>
                <h2>{{ 'Výroba vysoce kvalitních plastových dílů' |_ }}</h2>
                <img src="{{ 'assets/images/lisovna-01.png' | theme }}" class="img-fluid pb-5 pt-3" alt="">
            </div>
        </div>

        {% partial 'lisovna-iconbox' %}

        <div class="row text-center pt-5">
            <div class="col">
                <a href="{{ 'molding'|page }}" class="btn btn-primary" role="button">{{ 'více informací' |_ }}</a>
            </div>
        </div>
    </div>
 </section>