        <div class="row bg-white shadow shortdesc">
            <div class="col text-center d-md-flex justify-content-around">
                <div class="iconbox">
                    <img src="{{ 'assets/images/icon-tool-01.svg' | theme }}" alt="">
                    <h4>{{ 'KONSTRUKCE' |_ }}</h4>
                        <p>{{ 'forem pro vstřikování plastů' |_ }}</p>
                </div>
                <div class="iconbox">
                    <img src="{{ 'assets/images/icon-tool-02.svg' | theme }}" alt="">
                    <h4>{{ 'VÝROBA' |_ }}</h4>
                    <p>{{ 'forem pro vstřikování plastů' |_ }}</p>
                </div>
                <div class="iconbox">
                    <img src="{{ 'assets/images/icon-tool-03.svg' | theme }}" alt="">
                    <h4>{{ 'OPRAVY' |_ }}</h4>
                    <p>{{ 'forem pro vstřikování plastů' |_ }}</p>
                </div>
            </div>
        </div>