[viewBag]
==
<section class="gradient">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h4>{{ 'NAŠE SLUŽBY' |_}}</h4>
                <h1>{{ 'NÁSTROJÁRNA' |_}}</h1>
                <img src="{{ 'assets/images/forma_01.png' | theme }}" class="img-fluid" alt="">
            </div>
        </div>

        {% partial 'nastrojarna-iconbox' %}

        <div class="row text-center pt-5">
            <div class="col">
                <a href="{{ 'tooling'|page }}" class="btn btn-primary" role="button">{{ 'více informací' |_ }}</a>
            </div>
        </div>
    </div>
</section>