[viewBag]
==
<div class="container py-5">
    <div class="row">
        
        <div class="col-md-6 col-sm-12 py-3">
            <a href="{{ 'publicita'|page }}">
                <img src="{{ 'assets/images/OPP-01.png' | theme }}" class="img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-6 col-sm-12 py-3">
            <a href="{{ 'publicita'|page }}">
                <img src="{{ 'assets/images/OPP-02.png' | theme }}" class="img-fluid" alt="">
            </a>
        </div>
        </a>
    </div>
</div>