[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ 'tooling'|page }}" class="btn btn-primary" role="button">nástrojárna</a>
        </div>
    </div>
</div>


<div class="gallery text-center">
{% for image in this.theme.product_images  | slice(7,3) %} <!-- Zacinas od 7. fotky a ukazujes 3 -->
<div class="image-wrapper">
    <a href="{{ image.path }}">
        <img src="{{ image.thumb(300, 200, {'mode':'crop' }) }}" alt="">
    </a>
</div>
{% endfor %}
</div>


<hr> 

<h1 class="test">Nadpis h1</h1>
<h2 class="test">Nadpis h2</h2>
<h3 class="test">Nadpis h3</h3>
<h4 class="test">Nadpis h4</h4>
<h5 class="test">Nadpis h5</h5>
<p>odstavec</p>
<ul>
    <li>Lorem, ipsum dolor 1.</li>
    <li>Lorem, ipsum dolor 2.</li>
    <li>Lorem, ipsum dolor 3.</li>
</ul>

<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>
<h1 class="display-5">Display 5</h1>



<div class="container">
    <div class="row">
        <div class="col">
            <div class="gradient">
                
            </div>
        </div>
    </div>
</div>


<h5>konstrukce <strong>forem pro vstřikování plastů</strong></h5>