[viewBag]
==
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ 'assets/video/Techno-video-00.mp4' | theme }}" type="video/mp4">
    </video>
    <div class="container-fluid h-100">
          <div class="row h-100 align-items-center justify-content-end">
            <div class="col-md-4 col-sm-6 bg-primary text-white p-4 desc">
              <div class="fade-left">  
                <h2>{{ '<span> Vyrábíme formy</span><br>pro vstřikování plastů' |_ }}</h2>
              </div>
              <div class="fade-left">  
                <h2>{{ 'a <span>plastové díly</span><br>pro různá odvětví' |_ }}</h2>
              </div>  
            </div>
          </div>
    </div>
  </header>