==
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ 'assets/video/techno.mp4' | theme }}" type="video/mp4">
    </video>
    <div class="container h-100">

          
          <div class="row h-100 align-items-center justify-content-end">
            <div class="col-md-4 col-sm-6 bg-primary text-white p-3 desc">
              <ul>
                <li>{{ 'konstrukce nástrojů' |_}}</li>
                <li>{{ 'výroba forem' |_}}</li>
                <li>{{ 'vzorování' |_}}</li>
                <li>{{ 'měření' |_}}</li>
                <li>{{ 'výroba sériových dílů' |_}}</li>
              </ul>
            </div>


          

    </div>
  </header>


